@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

/* Navigation */
.navChange {
  background-color: aqua;
}

nav {
  font-family: Lucida Handwriting, Cursive;
  font-size: 35px;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background: transparent;
}

.inBurger {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.title {
  text-align: center;
}
/*-----------------------------Slider------------------------------------------*/

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  border-radius: 5%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5%;
  transition: opacity 0.4s ease-in-out;
}

.slide.current {
  opacity: 1;
}

.slide .content {
  position: absolute;
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 600px;

  color: rgb(255, 255, 255);
}

.slide.current .content {
  opacity: 1;
  transform: translateX(300px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button {
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
}

.buttons button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media (max-width: 500px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}

/* Backgorund Images */

.slide:first-child {
  background: url("imgs/rug-10.jpeg") no-repeat;
  filter: brightness(50%);
}
.slide:nth-child(2) {
  background: url("imgs/rug-11.jpeg") no-repeat;
  filter: brightness(50%);
}
.slide:nth-child(3) {
  background: url("imgs/rug-12.jpeg") no-repeat;
  filter: brightness(50%);
}

/*-----------------------------Contact Form------------------------------------------*/

main {
  max-width: 1325px;
  max-height: 1325px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

h3,
ul {
  margin: 0;
}

h3 {
  margin-bottom: 1rem;
}

input:focus,
textarea:focus {
  outline: 3px solid gold;
}

input,
textarea,
button {
  width: 100%;
  border: 1px solid #000;
}

.wrapper {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.wrapper > * {
  padding: 1em;
}
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .wrapper > * {
    padding: 2em 2em;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.contacts {
  background: #4b5195;
  color: #fff;
}

.form {
  background: #fff;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
form label {
  display: block;
}
form p {
  margin: 0;
}

.full-width {
  grid-column: 1 / 3;
}

button,
input,
textarea {
  padding: 1em;
}

button {
  background: lightgrey;
  width: 100%;
  border: 0;
}
button:hover,
button:focus {
  background: gold;
  outline: 0;
}

/*--------------------------Footer----------------------------------------------*/

.facebook .twitter,
.instagram {
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.facebook {
  text-decoration: none;
  background: #3b5998;
  color: white;
}

.twitter {
  text-decoration: none;
  background: #00acee;
  color: white;
}

.instagram {
  text-decoration: none;
  background: #c41200;
  color: white;
}

footer {
  position: relative;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

/*---------------------Media Quiries---------------------------------------------------*/

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media screen and (max-height: 736px) {
  .inBurger {
    text-align: left;
  }
  .overlay {
    overflow-y: auto;
  }
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
